{% extends "layout.html" %}

{% block title %}
    <h1>Create a New User</h1>
{% endblock %}

{% block content %}
    {% if error %}
        <div class="alert alert-danger" role="alert">{{ error }}</div>
    {% endif %}
    {% if message %}
        <div class="alert alert-success" role="alert">{{ message }}</div>
    {% endif %}
    <form method="POST" style="max-width: 320px;">
        <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
        <div class="form-group">
            <label for="newUserName">Username</label>
            <input type="text" class="form-control" id="newUserName" name="newUserName">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password">
        </div>
        <button type="submit" class="btn btn-primary btn-md">Create</button>
    </form>
{% endblock %}
